In [14]:
import numpy as np
import pandas as pd
import os
from glob import glob
base_path = "/mnt/c/Temp/analyses_friends_annotations/friends_annotations/annotation_results/DeepgazeMr"
tsv_files = glob(os.path.join(base_path, '**', '*.tsv'), recursive=True)
all_data = []

for file in tsv_files:

    df = pd.read_csv(file, sep='\t')

    # Extract episode name from filename
    episode = os.path.basename(file).replace('_maxpeak_coord.tsv', '')
    df['episode'] = episode

    all_data.append(df)

# Combine all data into one dataframe for maxpeak
df_max_peak = pd.concat(all_data, ignore_index=True)
#add total frames
df_max_peak['frame'] = df_max_peak.index + 1

# Ensure sorting by episode and global frame (just in case)
df_max_peak = df_max_peak.sort_values(by=["episode", "frame"]).reset_index(drop=True)

# Add episode-relative frame number that resets for each episode
df_max_peak["episode_frame"] = df_max_peak.groupby("episode").cumcount() + 1

#import scenes data tsv

In [9]:

# Display the result
print(df_max_peak.describe())

                  h             w             p         frame
count  7.178296e+06  7.178296e+06  7.178296e+06  7.178296e+06
mean   1.611584e+02  3.609861e+02  1.639282e+00  3.589148e+06
std    4.677533e+01  9.460282e+01  9.633461e-01  2.072196e+06
min    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
25%    1.320000e+02  2.970000e+02  1.000000e+00  1.794575e+06
50%    1.520000e+02  3.590000e+02  1.000000e+00  3.589148e+06
75%    1.790000e+02  4.250000e+02  2.000000e+00  5.383722e+06
max    4.790000e+02  7.000000e+02  1.300000e+01  7.178296e+06

In [15]:

print(df_max_peak)

           h    w  p          episode    frame  episode_frame
0        215  359  1  friends_s01e01a        1              1
1        215  359  1  friends_s01e01a        2              2
2        215  359  1  friends_s01e01a        3              3
3        215  359  1  friends_s01e01a        4              4
4        215  359  1  friends_s01e01a        5              5
...      ...  ... ..              ...      ...            ...
7178291  215  359  1  friends_s07e23d  7178292          22976
7178292  215  359  1  friends_s07e23d  7178293          22977
7178293  215  359  1  friends_s07e23d  7178294          22978
7178294  215  359  1  friends_s07e23d  7178295          22979
7178295  215  359  1  friends_s07e23d  7178296          22980

[7178296 rows x 6 columns]

In [17]:
df_max_peak[df_max_peak["episode"] == "friends_s01e01a"]

         h    w  p          episode  frame  episode_frame
0      215  359  1  friends_s01e01a      1              1
1      215  359  1  friends_s01e01a      2              2
2      215  359  1  friends_s01e01a      3              3
3      215  359  1  friends_s01e01a      4              4
4      215  359  1  friends_s01e01a      5              5
...    ...  ... ..              ...    ...            ...
26406  215  359  1  friends_s01e01a  26407          26407
26407  215  359  1  friends_s01e01a  26408          26408
26408  215  359  1  friends_s01e01a  26409          26409
26409  215  359  1  friends_s01e01a  26410          26410
26410  215  359  1  friends_s01e01a  26411          26411

[26411 rows x 6 columns]

In [18]:
df_max_peak.to_csv("max_peak_data.tsv", sep="\t", index=False)